/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

/* body{
  width: 1920px;
height: 4400px;
} */

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

/*navigation*/

#travelCali{
  position: absolute;
  left: 8.85%;
  right: 77.19%;
  top: 0.7%;
  bottom: 97.8%;

  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFE000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#mainNav{
  position: absolute;
  left: 8.85%;
  right: 10.89%;
  top: 0.7%;
  bottom: 97.8%;
  margin-top: 10px;
}

#mainNav ul{
  position: absolute;
  left: 70.73%;
  right: 10.89%;
  top: 1.23%;
  bottom: 98.07%;

  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  /* letter-spacing: 0.035em; */

  color: #FFFFFF;
}

.hero-copy{
  border-radius: 100px;
  left: -75px;

  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 102.5%;
  /* or 70px */

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

/* boldface for jumbotron text */
b {
  font-weight: 600;
}

/* added background image */
.jumbotron {
  /* width: 1920px;
  height: 4400px; */
  background-image: url('/images/bg-img.svg');
  margin-bottom: 0px;
  background-attachment: fixed;
}

.device-container{
  top: 0px;
  left: 50px;
}

/* mid section; download */
.download{
  background-color: #fcbd20;
  margin: 0;
  padding: auto;
}
.badges,
.centre-items{
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-heading{
  text-align: center;
}

/* midsectio: testi */
.testimonials *> .centre-items{
  margin-left: 15px; 
  margin-right: 15px; 
}
.testimonials,
.testimonial-item{
  text-align: center;
}

/* sign up */
.signup-section{
  
}
#signup{
  text-align: center;
  background-color: bisque;
  background-image: url('/images/SF.svg');
  background-size: cover;
}

.social{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social > a { 
  margin-left: 15px; 
  margin-right: 15px; 
  color: gray;
}

.center-subs{
  margin-right: 270px ;
  width:50% /* value of your choice which suits your alignment */
}

.card-dims{
  height: 150px;
}

/* content, icons */
.bg-black{
  background-color: black;
}

.center-icons{
  margin-left: 270px ;
  width:50% /* value of your choice which suits your alignment */
}

/* footer */
.footer{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: gray;
  padding: 20px;
}